@use './color.scss';
@use './reset.scss';

body {
	line-height: 1;
	background-color: var(--bg);
}

.scroll {
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		background: var(--gray);
		border-radius: 6px;
	}
	&::-webkit-scrollbar-thumb {
		cursor: pointer;
		background: var(--primary);
		border-radius: 5px;
	}
}

$md: 660;